.accordion {
  .accordion-item {
    position: relative;
    border-bottom: 1px solid #f1f1f1;
    width: 100%;
    overflow: hidden;
    background: #fff;
    .accordion-title {
      position: relative;
      display: block;
      padding: 0 0 0 1em;
      background: #fff;
      font-weight: bold;
      line-height: 3;
      cursor: pointer;
      width: 100%;
      border: none;
      text-align: left;
      &:focus {
        outline: none;
      }
      &:after {
        position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 3em;
        height: 3em;
        line-height: 3;
        text-align: center;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
        content: "+";
      }
    }

    /* Style the accordion panel. Note: hidden by default */
    .accordion-body, .accordion-footer {
      max-height: 0;
      overflow: hidden;
      background: #fff;
      -webkit-transition: max-height .35s;
      -o-transition: max-height .35s;
      transition: max-height .35s;

      p {
        margin: 1em;
        color: #223243;
      }
    }

    .accordion-footer {
      margin: 0 1em;
    }

    &.active {
      .accordion-title:after {
        transform: rotate(315deg);
      }
      .accordion-body, .accordion-footer {
        max-height: min-content;
      }
      .accordion-footer {
        border-top: 1px solid #f1f1f1;
      }
    }
  }
}
